html {
    background-color: black;
    font-size: 16px;
    color: whitesmoke;
    font-family: 'Darker Grotesque', sans-serif;
    width: 100%;
    justify-content: center;
}

header {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 3% 0 3% 0;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0 6% 0 6%;
    padding: 2%;
    text-align: center;
}

header h1 a:hover {
    color:rgb(200, 255, 0);
}

header h1 a {
    color: whitesmoke;
    font-weight: 500;
    text-decoration: none;
    font-size: 5rem;
    margin: 0;
    padding: 0;
    letter-spacing: .3rem;
}

header .links {
    display: block;
    flex-direction: column;
    width: 300px;
    height: 200px;
    align-self: center;
    margin: 0 6% 0 6%;
}

header .links p {
    padding: 0 3% 0 3%;
    margin: 0;
    text-align: center;
    align-self: center;
}

header .links a {
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: 400;
    text-decoration: none;
    align-self: center;
    line-height: 50px;
    letter-spacing: .2rem;
}

header .links a.projects:hover {
    color: rgb(200, 255, 0);
}

header .links a.exp:hover {
    color: rgb(247, 0, 255);
}

header .links a.edu:hover {
    color: rgb(255, 123, 0);
}

header .links a.contact:hover {
    color: rgb(117, 248, 237);
}

/* Summary Section */ 
.summary {
    display: flex;
    width: 100%;
    height: auto;
    justify-self: center;
    background-color: whitesmoke;
    justify-content: center;
    align-content: center;
    margin: 3% 0 3% 0;
}

.summary p {
    color:rgb(0, 0, 29);
    height: 90%;
    width: 60%;
    min-width: 400px;
    overflow:hidden;
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
}

/* Gallery */
#gallery-header {
    width: 100%;
    text-align: center;
    padding: 0 3% 0 3%;
    margin: 0;
    color:rgb(200, 255, 0);
    font-weight: 400;
    text-decoration: none;
    font-size: 4.5rem;
    margin: 0;
    padding: 0;
    letter-spacing: .3rem;
}

/* Quiz section */
.quiz {
    display: grid;
    padding: 20px 0 20px 0;
    margin: 3% 0 3% 0;
    background-color: rgb(0, 0, 29);
    grid-template: repeat(6, auto) / 10% 1fr 1fr 1fr 10%;
    align-items: center;
    justify-items: center;
    grid-row-gap: 25px;
    grid-template-areas: "..  desc desc desc .."
                         "..  .. start ..  .."
                         "..  ..  whatis ..  .."
                         ".. guess1 guess2 guess3 .."
                         ".. guess4 guess5 guess6 .."
                         ".. message  message message ..";
}

.quiz-desc {
    grid-area: desc;
    align-self: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

#start-button {
    margin: 1%;
    width: 300px;
    height: 225px;
    font-size: 2.5rem;
    grid-area: start;
    background-color: blue;
    border: 6px solid whitesmoke;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
}

#start-button:hover {
    background-color:rgb(0, 0, 146);
}

#start-button:focus {
    outline: 0;
}

#what-is {
    grid-area: whatis;
    color: whitesmoke;
    font-size: 2.5rem;
    letter-spacing: .3em;
    font-weight: 400;
    padding: 1%;
    margin: 0;
}

.guess-button {
    margin: 1%;
    width: 275px;
    height: 100px;
    background-color: whitesmoke;
    border: 12px solid rgb(117, 248, 237);
    color: navy;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 75px;
    align-self: center;
    justify-self: center;
}

#guess1 {
    grid-area: guess1;
}

#guess2 {
    grid-area: guess2;
}
#guess3 {
    grid-area: guess3;
}
#guess4 {
    grid-area: guess4;
}
#guess5 {
    grid-area: guess5;
}
#guess6 {
    grid-area: guess6;
}

#message {
    grid-area: message;
    color: whitesmoke;
    font-size: 3rem;
    letter-spacing: .3em;
    font-weight: 500;
    padding: 1%;
    margin: 0;
    text-align: center;
}
/* Landscape Section */ 
.gallery-landscape {
    display: grid;
    padding: 20px 0 20px 0;
    margin: 3% 0 3% 0;
    grid-template: repeat(8, auto) / 1fr 3fr 6fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: ".. desc1 img1 .."
                         ".. desc2 img2 .."
                         ".. desc3 img3 .."
                         ".. desc4 img4 .."
                         ".. desc5 img5 .."
                         ".. desc6 img6 .."
                         ".. desc7 img7 .."
                         ".. desc8 img8 ..";
}

.desc {
    align-self: center;
    text-align: center;
}

.landscape.desc h2 {
    font-size: 2.25rem;
    font-weight: 500;
    justify-self: center;
    color: rgb(200, 255, 0);
}

.desc p {
    font-size: 1.75rem;
    font-weight: 400;
    justify-self: center;
}

.landscape.img {
    justify-self: center;
}

.landscape.desc.a {
    grid-area: desc1;
}
.landscape.img.a {
    grid-area: img1;
}
.landscape.desc.b {
    grid-area: desc2;
}
.landscape.img.b {
    grid-area: img2;
}
.landscape.desc.c {
    grid-area: desc3;
}
.landscape.img.c {
    grid-area: img3;
}
.landscape.desc.d {
    grid-area: desc4;
}
.landscape.img.d {
    grid-area: img4;
}
.landscape.desc.e {
    grid-area: desc5;
}
.landscape.img.e {
    grid-area: img5;
}
.landscape.desc.f {
    grid-area: desc6;
}
.landscape.img.f {
    grid-area: img6;
}
.landscape.desc.g {
    grid-area: desc7;
}
.landscape.img.g {
    grid-area: img7;
}
.landscape.desc.h {
    grid-area: desc8;
}
.landscape.img.h {
    grid-area: img8;
}

/* Portrait Gallery Grid */
.gallery-portrait {
    display: grid;
    padding: 20px 0 20px 0;
    margin: 3% 0 3% 0;
    grid-template: repeat(4, auto) / 1fr 4fr 4fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-template-areas: ".. img1 img2 .."
                         ".. desc1 desc2 .."
                         ".. img3 img4 .."
                         ".. desc3 desc4 ..";
}

.desc h2 {
    font-size: 2.25rem;
    font-weight: 500;
    justify-self: center;
    color:rgb(200, 255, 0);
}

.portrait.img {
    justify-self: center;
    align-self: center;
}

.portrait.img.a {
    grid-area: img1;
}
.portrait.img.b {
    grid-area: img2;
}
.portrait.desc.a {
    grid-area: desc1;
}
.portrait.desc.b {
    grid-area: desc2;
}
.portrait.img.c {
    grid-area: img3;
}
.portrait.img.d {
    grid-area: img4;
}
.portrait.desc.c {
    grid-area: desc3;
}
.portrait.desc.d {
    grid-area: desc4;
}

/* Footer */
.flex-footer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    margin-top: 3%;
    background-color: black;
}

footer .links {
    width: 50%;
    text-align: center;
}

footer .links p {
    display: inline-flex;
    padding: 0 3% 0 3%;
    margin: 0;
}

footer .links a {
    color: whitesmoke;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    align-self: center;
    line-height: 50px;
    letter-spacing: .2rem;
}

footer .links a.projects:hover {
    color: rgb(200, 255, 0);
}

footer .links a.exp:hover {
    color:rgb(247, 0, 255)
}

footer .links a.edu:hover {
    color:rgb(255, 123, 0);
}

footer .links a.contact:hover {
    color: rgb(117, 248, 237);
}

.updated {
    display: inline-block;
    color: whitesmoke;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: .2rem;
    margin: 0;
    text-align: left;
    width: 100%;
    background-color: black;
}



/* ------ Contact ----- */
.contact-banner {
    height: 506px;
    background-image: url("./Content/banner.jpg");
    background-repeat: no-repeat;
    background-position: 50.00% 67.78%;
    background-size: 100%;
    background-color: transparent;
    background-size: cover;

}

.contact-banner h2 {
    text-align: center;
    position: relative;
    top: 60%;
}


.contact-banner h2 a {
    color: whitesmoke;
    font-weight: 500;
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    letter-spacing: .3rem;
}

/* Experience page */
.exp-grid {
    display: grid;
    padding: 20px 0 20px 0;
    margin: 3% 0 3% 0;
    grid-template: repeat(4, auto) / 10% 1fr 1fr 1fr 1fr 10%;
    grid-row-gap: 10px;
    grid-column-gap: 70px;
    background-color: black;
    justify-items: center;
    align-items: start;
    grid-template-areas: ".. ssd ssd ev ev .."
                         ".. urs urs rslab rslab .."
                         ".. sedg sedg hig hig .."
                         ".. .. merit merit .. ..";
}

.job h2 {
    color:rgb(247, 0, 255);
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: .2rem;
}

.job li {
    font-size: 2rem;
    color: whitesmoke;
    text-align: left;
    padding: 10px;
}

.ssd {
    grid-area: ssd;
}

.ev {
    grid-area: ev;
}

.urs {
    grid-area: urs;
}

.rslab {
    grid-area: rslab;
}

.sedg {
    grid-area: sedg;
}

.hig {
    grid-area: hig;
}

.merit {
    grid-area: merit;
}

/* Skills grid */
.skills-grid {
    display: grid;
    padding: 20px 0 20px 0;
    margin: 3% 0 3% 0;
    grid-template: repeat(4, auto) / 10% 1fr 1fr 10%;
    grid-row-gap: 10px;
    grid-column-gap: 70px;
    background-color: black;
    justify-items: center;
    align-items: start;
    grid-template-areas: ".. header header .."
                         ".. col1 col2 ..";
}

.skills-grid h2 {
    grid-area: header;
    color:rgb(117, 248, 237);
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: .2rem;
}

.skills-grid li {
    font-size: 2rem;
    color: whitesmoke;
    text-align: left;
    padding: 10px;
}

.skills-col-1 {
    grid-area: col1;
}

.skills-col-2 {
    grid-area: col2;
}

/* Education Page */ 
.edu-grid {
        display: grid;
        padding: 20px 0 20px 0;
        margin: 3% 0 3% 0;
        grid-template: repeat(3, auto) / 10% 1fr 1fr 1fr 1fr 10%;
        grid-row-gap: 10px;
        grid-column-gap: 70px;
        background-color: black;
        justify-items: center;
        align-items: start;
        grid-template-areas: ".. edu edu edu edu .."
                             ".. umn umn scsu scsu .."
                             ".. other other prj prj ..";
    }


.edu-header {
    grid-area: edu;
    color: whitesmoke;
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: .2rem;
}

.edu-grid h3 {
    grid-area: header;
    color:rgb(117, 248, 237);
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: .2rem;
}

.edu-grid li {
    font-size: 2rem;
    color: whitesmoke;
    text-align: left;
    padding: 10px;
}

.umn-section {
    grid-area: umn;
}

.scsu-section {
    grid-area: scsu;
}

.other-edu {
    grid-area: other;
}

.project-work {
    grid-area: prj;
}
